twit_sentiment/*/__pycache__
.DS_Store
.vscode
twit_sentiment/samples/dataSample_p1.json
twit_sentiment/samples/dataSample_merge.json
twit_sentiment/samples/dataSample_merge_minify.json
st_sentiment_app/ES_DATA
