<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Sentimental Analysis { StockTwits } : {{err['code']}} </title>
    <link rel="stylesheet" href="static/css/err.css">
  </head>

<body>
    <div id="error">
            <div id="box"></div>
            <h3 style="content: ERROR {{err['code']}};">ERROR {{err['code']}}</h3>
            <span>{{err['msg']}}</span>
            <p>Things are a little <span>unstable</span> here</p>
            <p>I suggest come back later, or retrying your search</p>
    </div>
</body>
</html>
